- if user_signed_in?
  %li
    = link_to("Logout #{current_user.email}", destroy_user_session_path)
- else
  %li
    = link_to_rpx('Login with (Google, Facebook, twitter or another)', user_session_url)