- if user_signed_in?
  - if current_user.rpx_identifier.blank?
    %li
      = link_to('Edit registration', edit_user_registration_path)
- else
  %li
    = link_to('Or use regular Sign up', new_user_registration_path)
