.bundle
db/*.sqlite3
db/*.sqlite3-journal
log/*.log
tmp/
.sass-cache/
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
coverage.data
public/uploads
**.DS_Store
webrat.log
config/deploy.rb
script/pg-*
public/assets
config/settings/checkin.tau.so.conf.yml
config/settings/checkin.lacantine-toulouse.org.yml
config/database.yml

config/database.satellites.yml

config/settings/checkin.satellites-teletravail.com.yml

config/database.checkin.lacantine.paris.yml

config/database.comptoir.yml

config/settings/checkin.comptoir-numerique.fr.yml

config/settings/checkin.lacantine.org.yml
