.bundle
db/*.sqlite3
db/*.sqlite3-journal
log/*.log
tmp/
.sass-cache/
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
coverage.data
public/uploads
**.DS_Store
webrat.log
config/deploy.rb
script/pg-*
public/assets
config/settings/checkin.tau.so.conf.yml
config/settings/checkin.lacantine-toulouse.org.yml
config/database.yml
