%section#forms
  %div.page-header
    %h1
      Sign up form
  %div{:class => "row" }
    %div{:class => "span4 columns" }
      %h2 Lorem ipsum
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pellentesque sapien in eros sollicitudin sed varius risus convallis. Mauris lobortis, nibh et laoreet commodo
    %div{:class => "span11 columns" }
      = form_for(resource,:as=>resource_name,:url=>registration_path(resource_name),:validate=>true,:class=>"form-stacked") do |f|
        = devise_error_messages!
        = render :partial => 'form', :locals => { :f => f }
        %div{:class => "actions"}
          %button{:class => "btn primary", :id => :new_registration_submit }
            Sign Up
    %div{:class => "clearfix span15 columns"}
      = render :partial => "devise/shared/links"