%section#forms
  %div.page-header
    %h1
      Editing account
  %div{:class => "row" }
    %div{:class => "span4 columns" }
      %h2 Lorem ipsum
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pellentesque sapien in eros sollicitudin sed varius risus convallis. Mauris lobortis, nibh et laoreet commodo
    %div{:class => "span11 columns" }
      = form_for @user do |f|
        = render 'shared/errors', :errors => @user.errors, :name => :user
        = render :partial => 'form', :locals => { :f => f }
        %div{:class => "actions"}
          %button{:class => "btn primary"}
            Update User
      = link_to t('links.home'), root_path