$link: #000;
$link-bg: #F7F7F7;
$border-color: #000;
$button-color: #2966a8;
$button-color-empty: #BF2723;
$button-border-color: #1A4572;
$person-bg-color: #F7F7F7;
$person-current-bg-color: #E6E6E6;
$person-current-border-color: #000;
$person-border-color: #CACACA;
$text-button-color: #FFF;
$error-explanation-color: #f0f0f0;

$flash-error-bg:#FBE3E4;
$flash-error-color:#8a1f11;
$flash-error-border-color:#FBC2C4;
$flash-error-link:#8a1f11;

$flash-notice-bg:#FFF6BF;
$flash-notice-color:#514721;
$flash-notice-border-color:#FFD324;
$flash-notice-link:#514721;

$flash-success-bg:#DDFCD5;
$flash-success-color:#000;
$flash-success-border-color:#44A815;
$flash-success-link:#264409;

$flash-alert-bg:#FBE3E4;
$flash-alert-color:#8a1f11;
$flash-alert-border-color:#FBC2C4;
$flash-alert-link:#8a1f11;