@import 'colors';
.container { 
	/*border:solid black 1px;*/ 
	.row { margin-left:0; /*border:solid black 1px;*/ }
	.column { /*border:solid black 1px;*/ }
	.columns { /*border:solid black 1px;*/ }
	#main-content { /*border:solid black 1px;*/ }
	#header { /*border:solid black 1px;*/ }
	#flash { /*border:solid black 1px;*/ }
	#main-content { /*border:solid black 1px;*/ }
	#footer { /*border:solid black 1px;*/ }
}
#people { 
	/*border:solid black 1px;*/
	margin-left:0;
	.user { 
		p.checkin { height: 30px; }
		padding:2px;
		margin:2px;
		float:left;
		border: solid 1px $person-border-color;
/*		min-height: 170px;*/
		height: 170px;
		#img { 
			margin:5px 2px 5px 0;
			border: solid 1px gray;
			height: 100px;
			width: 100px;
		}
		.user_bottom { 
			float:left;
			width:100%;
			height: 70px;
			/*border:solid black 1px;*/ 
			button.checkin_button { margin-bottom:-10px; }
		}
	}
	.current {
		background-color: $person-current-bg-color;
		border: solid 1px $person-current-border-color;
	}
}
#checkin {
	border:solid gray 5px;
	padding:20px;
	ul { list-style-type:none; padding:0; margin:0; }
}
#person { 
	border:solid gray 5px;
	padding:20px;
	.row { margin:10px 0; }
	.avatar {
		label { margin:0; padding:0; } 
		input { margin:0; } 
	}
}
/*#person { 
	border:solid black 1px;
	margin-left:0;
	#img { 
		margin:5px;
		border: solid 1px gray;
		height: 100px;
		width: 100px;
		float:left;
	}
	.avatar { width: 400px; }
}*/