.container { 
	border:solid black 1px; 
	#main-content { border:solid black 1px; }
	#header { border:solid black 1px; }
	#flash { border:solid black 1px; }
	#main-content { border:solid black 1px; }
	#footer { border:solid black 1px; }
}
#people { 
	border:solid black 1px;
	margin-left:0;
	.user { 
		padding:2px;
		margin:0 2px 0 0;
		float:left;
		border:solid black 1px;
		#img { 
			margin:5px 2px 5px 0;
			border: solid 1px gray;
			height: 100px;
			width: 100px;
		}
		.user_bottom { 
			float:left;
			width:100%;
			height: 70px;
			border:solid black 1px; 
			button.checkin_button { margin-bottom:-10px; }
		}
	}
}